<h1 *ngIf="!init" class="centered">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="2x"></fa-icon>
</h1>

<div *ngIf="init" class="animated fadeIn">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" dir="ltr">
    <a class="navbar-brand bg-primary col-sm-3 col-md-2 mr-0" href="#">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      <a class="text-info pl-2" [routerLink]="['/']">{{ title }}</a>
    </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-nowrap">

        <span class="text-info ml-3" *ngIf="userName">
          <fa-icon [icon]="['far', 'user']"></fa-icon>
          Hi {{userName}}
        </span>
      </li>
    </ul>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button class="btn btn-primary btn-sm float-right" *ngIf="loggedIn" (click)="logout()">
          <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
          Sign Out
        </button>

        <button class="btn btn-primary btn-sm float-right" *ngIf="!loggedIn" (click)="login()">
          <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
          Sign In
        </button>
      </li>
    </ul>
  </nav>


  <main class="container-fluid">

    <div class="row d-flex justify-content-center">
      <div class="col-6" *ngIf="!loggedIn">
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-title"> Sign-in with Microsoft Azure AD B2C</h4>
            <p class="card-text">
              Getting an access token with Azure AD B2C and calling a Web API
            </p>
          </div>
        </div>
      </div>
    </div>

    <router-outlet *ngIf="!isIframe && loggedIn"></router-outlet>
  </main>

</div>