<div class="card animated fadeIn" *ngIf="init">
    <div class="row rtl">

        <div class="col-2">
            <div class="d-flex justify-content-center">

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p class="h6">2016</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-danger badge-pill">2</span>
                        <p class="h2">{{selected.year}}</p>
                        
                      
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <p class="h6">2018</p>
                    </li>
                  </ul>
            </div>
           
        </div>

        <div class="col-2 d-flex align-items-center">
            <table class="table table-borderless">
                <thead>
                    <th class="text-center">
                        <label>פרוייקט אישי</label>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <circle-progress [radius]="100"
                                [percent]="(selected.circle1.value / selected.circle1.maxValue) * 100" [subtitle]="''"
                                subtitleFontWeight="100" titleFontSize="40" subtitleFontSize="20" [outerStrokeWidth]="6"
                                [innerStrokeWidth]="3" [outerStrokeColor]="'#375a7f'" [innerStrokeColor]="'#222'"
                                [animation]="true" [animationDuration]="300">
                            </circle-progress>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-2 d-flex align-items-center">
            <table class="table table-borderless">
                <thead>
                    <th class="text-center">
                        <label>ניקוד CPE</label>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <circle-progress [title]="selected.circle2.value + '/' + selected.circle2.maxValue"
                                [showUnits]="false" [subtitle]="''" titleFontSize="40"
                                [percent]="(selected.circle2.value / selected.circle2.maxValue) * 100" [radius]="100"
                                [outerStrokeWidth]="6" [innerStrokeWidth]="3" [outerStrokeColor]="'#375a7f'"
                                [innerStrokeColor]="'#222'" [animation]="true" [animationDuration]="300">
                            </circle-progress>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-3 d-flex align-items-center">
            <table class="table table-borderless">
                <tbody>
                    <ng-template ngFor let-category [ngForOf]="getSelectedCategories(1)" let-i="index">
                        <tr>
                            <th>{{category.title | categoryTitleTransform}}</th>
                            <td class="w-50">
                                {{category.value}}
                                <ngb-progressbar type="primary" [value]="(category.value / category.maxValue) * 100">
                                </ngb-progressbar>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>

        <div class="col-3 d-flex align-items-center">
            <table class="table table-borderless">
                <tbody>
                    <ng-template ngFor let-category [ngForOf]="getSelectedCategories(2)" let-i="index">
                        <tr>
                            <th></th>
                            <th>{{category.title | categoryTitleTransform}}</th>
                            <td class="w-50">
                                {{category.value}}
                                <ngb-progressbar type="primary" [value]="(category.value / category.maxValue) * 100">
                                </ngb-progressbar>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>